@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: rgb(240, 233, 227);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 7rem 0 0 0;
}

header {
    background: rgb(255, 122, 0);
    background: linear-gradient(to right, rgb(255, 168, 19) 35%, rgb(255, 122, 0) 45%);
    color: #000000;
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 6rem;
    top: 0;
    left: 0;
    border: solid rgb(137, 50, 0) 0.1rem;
}

nav {
    padding: 0 0.5rem;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

select {
    background-color: rgba(255, 255, 255, 0.45);
    font-size: 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.45);
}

option {
    font-size: 1rem;
    background-color: rgba(255, 252, 252, 0.48);

}

/* REGISTROS */

table {
    width: 100%;
    table-layout: fixed;
}

th {
    height: 3rem;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 0.1rem rgba(145, 145, 145, 0.8);
    border-radius: 2rem;
}

td {
    min-width: 2rem;
    max-height: 3rem;
    min-height: 2rem;
    max-height: 3rem;
    width: 100%;
    overflow: hidden;
    font-size: 1rem;
    line-height: 0.2rem;
    font-family: "Lato", system-ui;
    font-weight: 400;
    font-style: normal;
}

td img {
    max-width: 3rem;
}

p {
    margin: 0.75rem 0 1rem 0;
}

.venta .col1,
.egreso .col1 {
    width: 15%;
}

.venta .col2,
.egreso .col2 {
    width: 45%;
    padding: 0 0 0 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: left;
    text-align: initial;
}

.venta .col3,
.egreso .col3 {
    width: 20%;
    font-size: 0.7rem;
    text-align: center;
}

.venta .col4,
.egreso .col4 {
    width: 20%;
    text-align: center;
}

.venta {
    background-image: linear-gradient(to left, rgb(245, 211, 179) 0%, rgb(255, 233, 194) 40%, rgba(210, 255, 96, 1) 95%, rgba(210, 255, 96, 1) 98%);
}

.egreso {
    background-image: linear-gradient(to left, rgb(245, 211, 179) 5%, rgb(255, 233, 194) 40%, rgba(255, 96, 96, 1) 95%, rgba(255, 96, 96, 1) 98%);
}

/*
    Header y nav
*/

.nav_item {
    font-size: medium;
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
}

.nav_icon {
    height: 2rem;
    width: 100%;
    opacity: 90%;
}

#ordenador {
    background-color: white;
    width: 100%;
}

#ordenador_form{
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    margin: 0 0 0 0;
    padding: 0 0.6rem 0 0.6rem;
    color: black;
    font-family: "Lato", sans-serif;
}

#ordenador_form select{
    border-radius: 2.5rem;
}

/* MEDIA
  QUERIES */

  @media (max-width: 48rem) {
    *{
      max-width: 100%;
    }
    body {
      padding: 0;
    }
    article{
      max-width:90%;
      margin: 1rem 5%;
    }
    .nav_item{
      font-size: x-small;
    }
    .nav_icon{
      width:100%;
      height: 2rem;
    }
    .slider_productos img{
      margin: 0 0 0 25%;
    }
  }

  /* FORMULARIO */

form {
    background-color: rgb(241, 241, 241);
    border-radius: 1.5rem;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 0.6rem;
    color: rgb(71, 120, 255);
    position: relative;
    user-select: none;
    font-family: "Lato", sans-serif;
}

.enviar_formulario {
    font-size: large;
    padding: 0.6rem;
    border-radius: 0.2rem;
    background-color: rgb(228, 255, 186);
    box-shadow: 0 0 0.6rem rgb(124, 168, 78);
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: rgb(39, 62, 15);
    cursor: pointer;
}

#contenido {
    position: absolute;
    top: 10rem;
}

/* IMAGENES */
.input_cargar_imagen {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label_cargar_imagen {
    background-color: rgb(208, 255, 132);
    box-shadow: 0 0 0.6rem rgb(124, 168, 78);
    border-radius: 0.5rem;
    min-width: 6rem;
    min-height: 8rem;
    text-align: center;
    display: inline-block;
    padding: 0.2rem;
    cursor: pointer;
    z-index: 2;
}

.label_cargar_imagen p {
    font-size: 3rem;
    color: rgb(124, 168, 78);
    z-index: 3;
}

.visualizador_imagenes {
    background-color: rgb(242, 255, 221);
    width: 100%;
    height: 10rem;
    padding: 1rem;
    box-shadow: 0 0 0.6rem rgb(124, 168, 78);
    border-radius: 0.5rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: auto;
    max-width: 15rem;
    ;
}

.visualizador_imagenes img {
    width: 4rem;
    height: 4rem;
}

.imagen_seleccionable {
    cursor: pointer;
}

.seleccionado {
    border: solid rgb(0, 0, 0) 0.2rem;
    box-shadow: 0 0 0.6rem rgb(0, 0, 0);
    border-radius: 0.5rem;
}

.noseleccionable {
    -webkit-user-select: none;
    /*chrome, safari*/
    -moz-user-select: none;
    /* mozilla firefox*/
    -ms-user-select: none;
    /* para microsoft (edge, IE)*/
    user-select: none;
}

#interfaces {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.1);
    height: 8rem;
}