@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
html {
  font-size:medium; 
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

img, h3, footer{
  user-select: none; /* impide la selcción */
  -webkit-user-select: none; /*chrome, safari*/
  -moz-user-select: none; /* mozilla firefox*/
  -ms-user-select: none; /* para microsoft (edge, IE)*/
  pointer-events: none; /* desactivar la interacción en ciertos casos */
  -webkit-user-drag: none; /* evita que las imágenes se puedan arrastrar en navegadores q usan webkit (chrome, safari) */
}

body {
  background-color: #f0f0f0;
  background-image: url('/img/patron2.png');
  background-size: 30vw;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
  font-family: "Teachers", sans-serif;
  font-weight: 700;
  margin: 6rem 0 0 0;
  padding: 0 20vw;
}



header {
  background: rgb(255, 122, 0);
  background: linear-gradient(to right,  rgb(255, 168, 19) 35%, rgb(255, 122, 0) 45%);
  color: #000000;
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  border: solid rgb(137, 50, 0) 0.1rem;
}

nav {
  padding: 0.5rem; 
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.nav_item{
  font-size: medium;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
  max-height: 6vh;
}

.nav_icon{
  min-width: 1rem;
  max-height: 7vh;
  width: 100%;
  opacity: 90%;
}

#login{
  height: 100%;
}
#login img{
  height: 100%;
}

article {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4rem; 
  margin: 0.7rem; 
  border-radius: 2rem;

  overflow-x: hidden;
}

aside {
  background-color: #f7fff0;
  padding: 0.7rem; 
  margin: 0.7rem; 
}

footer {
  background: rgb(255, 122, 0);
  background-color: rgb(235, 223, 215);
  /* background: linear-gradient(to right,  rgb(255, 168, 19) 22%, rgb(255, 122, 0) 45%); */
  color: #000000;
  text-align: center;
  padding: 0.7rem; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* CLASES */

.slider_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  scrollbar-width: none; /*Firefox */
  -ms-overflow-style: none; /*IE */
}
.slider {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;

  box-shadow: 0 1rem 0 -1rem rgba(0,0,0,1);
  z-index: 0;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider_banner{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 5rem;
  max-width: 15rem;
  margin: 1rem 0% 2rem 50%;
  scroll-snap-align: center;
  object-fit: cover;
}
.slider_nav{
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  width: 50vh;
  height: 5vh;
  position: absolute;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  z-index: 2;
  gap: 0.5rem;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.slider_nav a{
  min-width: 0.2rem;
  min-height: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  border: solid rgb(0, 0, 0) 0.1rem;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  transition: opacity ease 250ms;
}

.slider_nav a:hover{
  opacity: 1;
  transition: opacity ease 250ms;
}

.icono {
  width: 2rem;
}

.producto {
  min-width: 10rem;
  height:max-content;
}

.producto:hover {
  transform: scale(1.2);
}

/* IDs */

#visor_producto {
  position: fixed;
  z-index: 5;
  left: 2vw;
  height: 50%;
  top: 25%;

  max-width: 15vw;
  font-size: 0.8vw;

  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  padding: 1.4rem; 
  margin: 0.7rem; 
  border-radius: 2rem;
}

#mapa {
  width: 100%;
}

/* MEDIA
  QUERIES */

@media (max-width: 48rem) {
  *{
    max-width: 100%;
  }
  body{
    padding: 0;
  }
  article{
    max-width:90%;
    margin: 1rem 5%;
  }
  nav{
    gap: 0;
    padding: 0;
    justify-content: space-around;
  }
  .nav_item{
    font-size: 3vw;
  }
  .nav_icon{
    max-height: 5vh;
  }
  .slider img{
    margin: 0 0 0 25%;
  }
  #visor_producto{
    left: 10vw;
    max-width: 40vw;
    width: 40vw;
    
    font-size: 3vw;
  }
}