@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
html {
  font-size:medium; 
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

img, h3, footer{
  user-select: none; /* impide la selcción */
  -webkit-user-select: none; /*chrome, safari*/
  -moz-user-select: none; /* mozilla firefox*/
  -ms-user-select: none; /* para microsoft (edge, IE)*/
  pointer-events: none; /* desactivar la interacción en ciertos casos */
  -webkit-user-drag: none; /* evita que las imágenes se puedan arrastrar en navegadores q usan webkit (chrome, safari) */
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  font-family: Teachers, sans-serif;
  font-weight: 700;
  background-color: #f0f0f0;
  margin: 6rem 0 0 0;
  padding: 0 20%;
}



header {
  background: rgb(255, 122, 0);
  background: linear-gradient(to right,  rgb(255, 168, 19) 35%, rgb(255, 122, 0) 45%);
  color: #000000;
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  border: solid rgb(137, 50, 0) 0.1rem;
}

nav {
  padding: 0.5rem; 
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.nav_item{
  font-size: medium;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
  max-height: 6vh;
}

.nav_icon{
  min-width: 1rem;
  max-height: 7vh;
  width: 100%;
  opacity: 90%;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1.4rem; 
  margin: 0.7rem; 
  border-radius: 2rem;

}

aside {
  background-color: #f7fff0;
  padding: 0.7rem; 
  margin: 0.7rem; 
}

footer {
  background: rgb(255, 122, 0);
  background: linear-gradient(to right,  rgb(255, 168, 19) 22%, rgb(255, 122, 0) 45%);
  color: #000000;
  text-align: center;
  padding: 0.7rem; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.productos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}
.slider_productos {
  display: flex;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  scrollbar-width: none; /*Firefox */
  -ms-overflow-style: none; /*IE */
  box-shadow: 0 1rem 0 -1rem rgba(0,0,0,1);
  z-index: 0;
}
.slider_productos::-webkit-scrollbar {
  display: none;
}
.slider_productos img{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-width: 5rem;
  width: 15rem;
  margin: 1rem 0% 2rem 50%;
  scroll-snap-align: center;
  object-fit: cover;
}
.slider_productos_nav{
  display: flex;
  justify-content: center;
  position: absolute;
  gap: 0.5rem;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  overflow: none;
}
.slider_productos_nav a{
  min-width: 0.2rem;
  min-height: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  border: solid rgb(0, 0, 0) 0.1rem;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  transition: opacity ease 250ms;
}

.slider_productos_nav a:hover{
  opacity: 1;
  transition: opacity ease 250ms;
}

/* MEDIA
  QUERIES */

@media (max-width: 48rem) {
  *{
    max-width: 100%;
  }
  body {
    padding: 0;
  }
  article{
    max-width:90%;
    margin: 1rem 5%;
  }
  nav{
    gap: 0;
    padding: 0;
    justify-content: space-around;
  }
  .nav_item{
    font-size: small;
  }
  .nav_icon{
    max-height: 5vh;
  }
  .slider_productos img{
    margin: 0 0 0 25%;
  }
  #login{
    height: 5vh;
    width: 5vh;
  }
}


/*

.contenedor{
  padding: 2rem;
}
.productos{
  position: relative;
   max-width: 48rem;
   margin: 0 auto;
   overflow: hidden;
}
.slider_productos{
  display: flex;
  /*aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 2rem 4rem -1rem rgba(0,0,0,1);
  z-index: 0;
}
.slider_productos img{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider_productos_nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider_productos_nav a{
  width: 1rem;
  height: 1rem;
  border-radius: 15%;
  background-color: rgba(175,250,125,1);
  opacity: 0.6;
  transition: opacity ease 250ms;
}
.slider_productos_nav a:hover{
  opacity: 1;
  transition: opacity ease 250ms;
}
*/