@font-face{
  font-family: "Madimi";
  src: url("fuentes/MadimiOne-Regular.ttf"), format("truetype");
}
body{
  margin: 0;
  display: block;
  background-color: white;
}

.gris{
  background-color: #EEEEEE;
}

.blanco{
  background-color: white;
}

.w100{
  width: 100%;
}
.h100{
  height: 100%;
}
.fixed{
  position: fixed;
}
.absolute{
  position: relative;
}
.z1{
  z-index: 1;
}
.z2{
  z-index: 2;
}
.z3{
  z-index: 3;
}
.z4{
  z-index: 4;
}
.cargando{
  background-color: white;

}
.barraNavegacion{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B2FFD6;
  border-bottom: 3px solid #428461;
  height: 50px;
}
.menuNavegacion{
  display: flex;
  flex-direction: column;
  border: solid black rgba(0,0,0,0.4);
  border-radius: 5%;
  background-color: white;
  padding: 20px 0;
}
.fila{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.itemNavegacion{
  margin: 10px auto;
  border: solid black rgba(0,0,0,0.5);
}
.botonCaja{
  height: 75px;
  width: 75px;
  margin: 0 15px;
  padding: 2px;
  border: solid 1px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.volverArriba{
  display: none;
  position: fixed;
  height: 50px;
  width: 50px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.registro{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
.transaccion{
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  color: #35A55B;
  margin: 2px 0;
  padding: 10px;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
}
.valorTransaccion{
  position: relative;
  margin-left: auto;
}
.razonTransaccion{
  position: relative;
  margin: auto;
}
.icono{
  width: 40px;
  height: 40px;
  opacity: 60%;
  margin: 5px auto;
}


