

.oculto {
    display: none;
}
.boton {
    background-color: gray;
    padding: 2px;
}
.icono {
    width: 50px;
    position: static;
}
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}
.z4 {
    z-index: 4;
}
.z5 {
    z-index: 5;
}
body{
    margin: 0;
    height: 900px;
    width: 100%;
}
form{
    text-align: left;
}
label{
    margin: 0;
    font-size: 0.9em;
    color: rgba(130,130,130,1);
}
h2{
    color: rgba(130,130,130,1);
}
#barra_nav {
    background-color: #c23b3b;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
}
#herramientas {
    background-color: rgba(238, 255, 0, 0.315);
    height: 200px;
}
#navegacion {
    background-color: #0088ff88;
    height: 200px;
    width: 100%;
    top: 0;
    position: fixed;
}
#transacciones {
    background-color: hsl(139, 21%, 76%);
    margin: 0;
    top: 0;
    width: 100%; 
}

/* mensajes de alerta */
#alertas{
    display:none;
    justify-content: center;
}
.alerta{
    position: fixed;
    top: 50%;
    border: solid 1px rgb(80, 197, 80);
    border-left: solid 5px rgb(80, 197, 80);
    border-radius: 5px;
    background-color: rgb(191, 255, 191);
    color: rgb(80, 197, 80);
    padding: 10px;
    width: 80%;
    box-shadow: 3px 5px rgba(0, 50, 0, 0.8);
    z-index: 5;
}
/* Estilos generales */
body{
    margin: 0;
    height: 900px;
    width: 100%;
}
form{
    text-align: left;
}
label{
    margin: 0;
    font-size: 0.9em;
    color: rgba(130,130,130,1);
}
.oculto {
    display: none;
}
.boton {
    background-color: gray;
    padding: 2px;
}
.icono {
    width: 50px;
    position: static;
}