

.oculto {
    display: none;
}
.boton {
    background-color: gray;
    padding: 2px;
}
.icono {
    width: 50px;
    position: static;
}
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}
.z4 {
    z-index: 4;
}
.z5 {
    z-index: 5;
}
body{
    margin: 0;
}
form{
    text-align: left;
}
label{
    margin: 0;
    font-size: 0.9em;
    color: rgba(130,130,130,1);
}
h2{
    color: rgba(130,130,130,1);
}
#barra_nav {
    background-color: #c23b3b;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
}
#herramientas {
    background-color: rgba(238, 255, 0, 0.315);
    height: 200px;
}
#navegacion {
    background-color: #0088ff88;
    height: 200px;
    width: 100%;
    top: 0;
    position: fixed;
}
#transacciones {
    background-color: hsl(139, 21%, 76%);
    margin: 0;
    top: 0;
    width: 100%; 
}

/* LOGIN */

#login_registro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#cambiar_a_registro {
    background-color: rgba(58, 137, 255, 0.103);
    display: block;
    margin: 20px auto;
    padding: 10px;
    color: rgb(71, 120, 255);
    cursor: pointer;
    position: relative;
    top: 100%;
}

#login_registro{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#login{
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#registro{
    display: none;
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#login input, #registro input{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#login button, #registro button{
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;

    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}